[2016-03-02 08:07] ieow opened #1 "Error: Cannot find module 'source-map-support'"
I am getting this error below when i try babel-watch.
Error: Cannot find module 'source-map-support'

I tried run with relay-starter-kit.

[2016-03-06 20:48] stoikerty opened #2 ""Unexpected token import" when running babel-watch"
Hey @kmagiera

Thanks for creating this package. It seems very useful!
Unfortunately I wasn't able to make it work so far. I have used the following command:

[code]

as well as other variations like these:

[code]

I am getting the following error message:

[code]

The file in question starts like this:

[code]

I also have a `.babelrc`-file but it doesn't seem to pick it up.

Any idea how I can

[2016-03-06 21:21] kmagiera commented on #2
Not in front of my computer at the moment but from your issue description it looks like watcher is not set for the file you're getting this error. For babel-watch it's important that all the files that needs to be transpiled with babel are also watched. From the command you posted it looks like you only watch files under src and if webpack directory contains files that need transpiration (like web

[2016-03-09 10:07] kmagiera commented on #1
Thanks @ieow for reporting. This was due to missing source-map-support dependency. I've added it to package.json and released 1.0.2 that contains the fix

[2016-03-09 10:07] #1 closed, assigned to nobody

[2016-03-09 10:09] kmagiera commented on #2
@stoikerty I hope your issue is now resolved as I haven't heard back from you. So I will go ahead and close this github issue - feel free to reopen if you have further questions

[2016-03-09 10:09] #2 closed, assigned to nobody

[2016-03-09 14:45] ieow opened #3 "add --require for preload module"
some syntax require babel-polyfill which can be added via --require for node cmd

-r, --require         module to preload (option can be repeated)

[2016-03-09 14:48] ieow opened #4 "config file switch"
suggestion for config file switch for more clean config

[2016-03-21 20:45] kmagiera commented on #3
Thanks @ieow for the suggestion. I may not have enough context on this one but think it would be better for the app itself to include the polyfill and here is why I think so (although l may be completely wrong in which case please correct me):
a) normally all the babel dependencies are linked as devDependencies which prevents them from being installed on the server. Since babel-polyfill needs to b

[2016-03-21 22:00] loudwinston opened #5 "Error about 'import' ...not loading babelrc?"
I'm getting the following error

Command `babel-watch --watch ./client/src --watch ./webpack ./bin/server.js`

[code]

My `.babelrc` has `"presets": ["react", "es2015", "stage-0"],`

Does `babel-watch` load the `.babelrc` from the current working directory?

[2016-03-23 09:14] kmagiera commented on #5
@loudwinston `babel-watch` will only transpile files that are under "watch" paths. In your case file `./bin/server.js` is not being watched (it's neither under `./webpack` nor `./client/src`.

In order for this to work you'll need to add `--watch ./bin/server.js` to you command so it look like this:

[code]

[2016-03-23 09:14] #5 closed, assigned to nobody

[2016-03-23 09:29] kmagiera commented on #4
@ieow what do you mean by "config file switch" can you explain this/give some example or use-case?

[2016-03-23 09:54] ieow commented on #4
example:
babel-watch -c configFile.json

in configFile,json
{
    watch : [ watchDir, ],
    exclude : [ excludeDir, ],
}

[2016-03-23 10:11] ieow commented on #3
I think you are right.
Previously, I ended up on this preload module solution due to babel-node is already include the polyfill globaly.
This is causing me could not add require polyfill in the apps itself and resulting me using the preload module method for running babel built code

[2016-03-23 11:31] #3 closed, assigned to nobody

[2016-03-26 11:16] stoikerty commented on #2
I have just come back to the issue and tried your solution. I'm not sure how to add 2 folders to the watcher though as I'm not getting it to work.

When I use `babel-watch --watch src --watch webpack toolkit/webpack/development.js`, it seems to just get stuck as nothing happens at all.
If I use `babel-watch --watch src webpack toolkit/webpack/development.js`, the watcher thinks that `webpack` is a

[2016-03-26 14:06] kmagiera commented on #2
I think you actually want to watch `toolkit/webpack` not just `webpack`

To watch multiple paths you should place `--watch` in tront of each one. So the command you want to use should be:

[code]

[2016-03-26 14:47] stoikerty commented on #2
Thanks! indeed I was watching the wrong folder!

The command is running now, but I still get an error when running `npm run dev`. It's almost as if it's not picking up on the babel-presets from `.babelrc`. I've also tried with `--presets es2015` but I get the same error.

[code]

_edit: I moved the discussion to a [new issue](https://github.com/kmagiera/babel-watch/issues/6)_

[2016-03-28 13:59] stoikerty opened #6 ""SyntaxError: Unexpected token import" when running babel-watch"
Unfortunately, the issue I mentioned in the PR https://github.com/kmagiera/babel-watch/issues/2 is still present. The command I'm running is:

[code]

This is the error I get is:

[code]

See the [corresponding PR](https://github.com/stoikerty/universal-dev-toolkit/pull/3).

[2016-04-03 02:02] sibelius opened #7 "error babel-watch"
[code]

[2016-04-03 02:08] sibelius commented on #7
this only happens when I pass one file to -w

[2016-04-03 02:08] #7 closed, assigned to nobody

[2016-04-10 11:17] ratson opened #8 "[FeatureRequest] Allow `rs` to restart"
`nodemon` provides this useful feature.

[2016-04-13 15:08] kmagiera commented on #8
Hey @ratson, thanks for your suggestion. I've just pushed new version that has this functionality. Will publish it as a part of 2.0 release tomorrow

[2016-04-13 15:08] #8 closed, assigned to nobody

[2016-04-13 15:12] kmagiera commented on #4
I've just pushed new version that does no longer require you to specify directories you like to watch. Instead you just provide the main node script name and babel-watch figures out which files is your app including and watch for changes in those files.

As for the remaining options, I believe it's not necessary to have a separate config for those as majority of options are just switches for babel

[2016-04-13 15:12] #4 closed, assigned to nobody

[2016-04-14 05:59] kmagiera commented on #6
Hey @stoikerty  Sorry for keeping you waiting here for so long. I've just release version 2.0.0 that has "autowatch" functionality. This should allow you to no longer need to specify any `--watch` options as `babel-watch` will now detect which files are loaded by your program and start watching them automatically.

Please give it a shot when you have time and feel free to reopen this issue when it

[2016-04-14 05:59] #6 closed, assigned to nobody

[2016-04-15 11:48] sibelius opened #11 "Can I watch multiple folders?"

[2016-04-15 15:30] AlicanC commented on #11
I haven't tried, but if I've read the docs correctly you should be able to do this:
`babel-watch file.js -w dir1 -w dir2`

[2016-04-17 13:34] sibelius commented on #11
this works, thanks @AlicanC

[2016-04-17 13:34] #11 closed, assigned to nobody

[2016-04-20 15:37] sebdeckers opened #12 "Debugging"
Is it possible to pass the `--debug` and `--debug-break` arguments? That would allow using `babel-watch` with debugging tools like `node-inspector` or VS Code. Both `node` and `babel-node` accept these arguments.

[2016-04-21 11:00] ericfong opened #13 "NODE_PATH not working?"
seem to me that NODE_PATH is not pass down for

NODE_PATH=PATH babel-watch app.js

[2016-04-25 06:20] kmagiera commented on #13
Hey @ericfong thanks for reporting!

Would you be able to provide some additional details on your issue? I've tried to reproduce it but was not able to. Here are the things I've tried:

1) Have `console.log(process.env.NODE_PATH);` in my `app.js` then run `NODE_PATH=test babel-watch app.js` -> result was that the env variable has been printed out correctly
2) Have `require('bar')` in my `app.js` c

[2016-04-25 06:20] #13 closed, assigned to nobody

[2016-04-25 07:05] kmagiera commented on #12
@cbas Yes, it is possible to run app with `--debug` flag although I haven't yet added that to the documentation. You can try running your app like this:

[code]

Node that there is `--` that should be added between options that you pass to babel-watch and options you want your program to use.

Option `--debug-brk` won't work at the moment as there is a small piece of code that runs within the node

[2016-05-01 15:09] #12 closed, assigned to nobody

[2016-05-02 17:54] stoikerty commented on #6
You've basically excluded me with this update since you made it unix-only. I've tried it on a mac and although it seems to work at first glance, a lot of files don't get watched where-as other files seem to be compiled too often. I will hold off on integrating babel-watch into my toolkit for now since I'm looking for cross-compatible tools.

I also think that this issue should not be closed since

[2016-05-02 22:10] imns opened #14 "Changes in views are not being watched"
First off, great library (thank you)!

I'm having some trouble getting this to work when a change is made in one of my view files.  I'm using express and nunjucks (html) templates.  If I change a `.js` file, it restarts lightning fast, but if I change one of my `.html` template files it doesn't restart.

I've tried playing around with the extensions flag, but haven't had any luck.

Any help would

[2016-06-09 08:49] gpbl opened #15 "Source maps problem"
Hi, first thanks for this module, it made my restarts much faster 👍

However, my error stack traces show wrong line numbers. If i run the app with `babel-node --source-maps` the line numbers are correct. Does anybody else have this issue?

[2016-06-20 20:22] eddiewang opened #16 "babel watch internal/child_process.js:374"
[code]

This error occurs with babel-watch, requires multiple tries and it'll work again. Only on windows.

[2016-07-01 19:52] nullxone opened #18 "Debugging"
Here are some notes I put together while trying to get debugging working. I'm looking for suggestions on how to get this to work.

**Environment**

osx 10.11.2
node v4.4.7
npm@3.10.3
node-inspector@0.12.8
babel-watch@2.0.2

**Node command line flag order**

Does not work: `node ./test.js --debug-brk`
Works: `node --debug-brk ./test.js`

Ref: https://github.com/nodejs/node/blob/master/src/node.cc#L

[2016-07-02 08:20] haraldrudell commented on #18
It's a design problem with babel-watch.

The file watching module, babel-watch.js, should never run in debug.

However, runner.js that should be with debug, is launched by babel-watch.js using fork, which means it will be in the same mode (debug/nodebug) as babel-watch.js. To fix that needs a code change.

In the mean time, one can put the following in your own code when debug is requested, sendin

[2016-07-02 19:15] nullxone commented on #18
The fork can be supplied the arguments using the execArgv property (in original post).

Thank you for the signal sending workaround, but I decided to go another way about this by putting together more basic tools.

**Method**

I'm using these scripts in package.json (can be run with `npm run ds1` and so on).

[code]

Running all three gives me quick feedback, and debugging with source maps.

[2016-08-05 04:23] niftylettuce commented on #15
I've got the same issue @gpbl, did you figure this out or an alternative?

[2016-08-05 06:54] gpbl commented on #15
@niftylettuce not yet :(

[2016-08-05 15:56] niftylettuce commented on #15
Perhaps it is related to this https://github.com/babel/example-node-server/issues/10#issuecomment-237761423 - you can just use `source-map-support` at the top of your file like we did there and got it working.

[2016-08-07 05:48] ericgrosse opened #19 "[Enhancement] Offer to help fix Windows issues"
It states in your documentation:

_(It doesn't work on Windows as it uses unix named pipes, if you want to help with getting that fixed, feel free to contact me)_

I'd be willing to help fix this issue :)

[2016-08-26 22:50] pfhayes commented on #14
This issue is addressed in https://github.com/kmagiera/babel-watch/pull/20

[2016-09-11 20:40] laggingreflex commented on #19
+1 This would be awesome. @kmagiera please consider adding windows support.

[2016-09-14 14:15] #16 closed, assigned to nobody

[2016-09-14 14:31] kmagiera commented on #19
Hey @ericgrosse sorry for late response. I'd be happy to accept PRs for windows support. If you need some help or guidance please message me on twitter or we can continue the discussion here if you prefer (I promise to respond timely the next time)

[2016-09-14 14:38] kmagiera commented on #15
@niftylettuce @gpbl sorry for very late response. So @niftylettuce answer is correct (at least it could be one of the reasons you may be seeing this) – this problem may occur if you import `source-map-support` or some other library which does that (e.g. `babel-register`)

I'll prepare a patch that will give you a warning whenever that thing happens. I don't think we can ever circumvent this, but a

[2016-09-14 14:44] kmagiera commented on #18
Thanks @haraldrudell and @nullxone for the investigation on that.

Do you have any recommendation on the preferred workflow for debugging? I'd like to collect some feedback on how people use the debugger with node apps (I personally only use node-inspector connecting to the remote app, so it works fine for my workflow with babel-watch as well). And then we can think of some modifications that may

[2016-09-15 09:32] cristian-eriomenco commented on #19
@kmagiera As far as I understand its because the mkfifo command, there is no native implementation for this on windows? So it should be a matter of using either another method of accomplishing whatever mkfifo was used for or a 3-rd party library?

[2016-09-15 13:28] kmagiera commented on #19
@cristian-eriomenco yes, that's more or less correct. So on top of what you just said the effect of `mkfifo` command is utilised. So the command creates a "named pipe", which is an object in the filesystem. Then that object is used to read and write to it using node's file system API (https://nodejs.org/api/fs.html) – and this is how main process and the app process communicate with each other. Th

[2016-09-15 13:48] laggingreflex commented on #19
Why is `mkfifo` necessary? Can't it be a simple file? I tested on Windows by [replacing `mkfifo`](https://github.com/kmagiera/babel-watch/blob/22119922c65edc4f6e8cebe16ac382ac4582f191/babel-watch.js#L233) with simply `echo. > ${filename}` (which is the Windows equivalent of `touch filename` in linux)

[code]

It seems to work (in simple testing at least, not sure if there might be any caveats with

[2016-09-16 11:31] kmagiera commented on #19
@laggingreflex the problem with just writing to a file is that all the things you've written are going to be flushed at some point to the disk and the file will grow over time.

I've found this answer on stackoverflow http://stackoverflow.com/a/32172145/1665044 where named pipes are accessed on nodejs but using socket API. Unfortunately I don't have an easy way to test that out on windows. If that

[2016-09-16 23:20] crccheck opened #21 ""Error: Cannot find module" with .jsx files"
Trying to replace nodemon + babel-node with babel-watch, running with `babel-watch` gives an error when `babel-node` does not. I don't think the `--extension` option affects this but I threw it on just in case.

`babel-core` v6.14.0

should work, but does not:

[code]

`babel-node` works:

[code]

Renaming `appFactory.jsx` to `appFactory.js` makes the error go away, but then I'd have to find all o

[2016-09-17 00:27] laggingreflex commented on #19
I noticed [**fifoJS**](https://github.com/zacgeis/fifoJS) on that stackoverflow link, could that work? Although right now it doesn't install for me on Windows, but maybe it can be supported. I also came across [**mkfifo**](https://github.com/avz/node-mkfifo) which didn't install either.

[2016-09-19 16:32] kmagiera commented on #21
@crccheck thanks for reporting! I'm assuming you're loading JSX files using standard methodologies ("require" or "import"), is that correct?

[2016-09-19 16:50] crccheck commented on #21
Correct. I found this SO too that has the same info http://stackoverflow.com/questions/39429775/babel-watch-not-loading-jsx-files

[2016-09-19 18:26] kmagiera commented on #18
Have you guys tried using `--` option to escape parameters passed to the child process?

[code]

[2016-09-19 18:35] kmagiera commented on #21
Have you tried adding full extension to the `require` statement e.g.:

[code]

or

[code]

[2016-09-19 18:40] crccheck commented on #21
That does work, but I'm testing `babel-watch` in someone else's code and renaming things isn't an option.

[2016-09-19 19:02] kmagiera commented on #21
@crccheck cool. Thanks for your help. I think I have a fix for the issue. Will send it out very soon and let you know once it's here

[2016-09-19 20:10] kmagiera commented on #21
And the fix is ready here: https://github.com/kmagiera/babel-watch/commit/14eac0e3b5659f574ca5a2044ffa45139f746a3d

[2016-09-19 20:11] kmagiera commented on #15
Have a fix for that here: https://github.com/kmagiera/babel-watch/commit/6ea1c10aca305b86e32415bb8e0c60cb182628c2

[2016-09-19 20:53] kmagiera commented on #21
And I've just pushed an update to npmjs, please check 2.0.3-rc0 and reopen if you're still experiencing the issue

[2016-09-19 20:53] #21 closed, assigned to nobody

[2016-09-19 20:55] kmagiera commented on #19
Thanks @laggingreflex for your pull request. Your changes are now merged and published as a part of 2.0.3-rc0
I'm closing this issue for now. If anyone is experiencing some problems on windows please feel free to reopen this issue or to create a new one

[2016-09-19 20:55] #19 closed, assigned to nobody

[2016-09-19 20:55] kmagiera commented on #15
And I've just pushed an update to npmjs, please check 2.0.3-rc0 and reopen if you're still experiencing the issue

[2016-09-19 20:55] #15 closed, assigned to nobody

[2016-09-19 20:56] kmagiera commented on #14
I've pushed an update that will hopefully resolve this issue, please check 2.0.3-rc0 and feel free to reopen the issue if you're still experiencing the problem

[2016-09-19 20:56] #14 closed, assigned to nobody

[2016-09-19 21:30] crccheck commented on #21
It worked for me. Thanks for the speedy fix!

[2016-09-19 21:33] SupremeTechnopriest commented on #18
@kmagiera I just tried the above and I don't think it worked.  My start command looks like this

[code]

Im attempting to attach to the debug process using vscode's debugger.

[2016-09-20 05:28] kmagiera commented on #18
@SupremeTechnopriest thanks for the reply! How would that command look like when running with regular `node` or `babel-node`? I'm just not familiar with vscode at all (only tried that with webstorm) and don't know how does it connect with the running process

[2016-09-20 05:29] kmagiera commented on #21
@crccheck thanks so much for reporting!

[2016-09-20 14:47] SupremeTechnopriest commented on #18
With node only it would look like this.  It might have something to do with the order of the arguments.

[code]

[2016-09-20 14:49] aknuds1 commented on #18
I normally debug my Node app like so: `./node_modules/.bin/babel-node --debug-brk --inspect .`.

I can't see how to do the same with babel-watch however :/

[2016-09-20 19:08] SupremeTechnopriest commented on #18
I submitted a PR #23 that adds a `--debug` option to the CLI.  It exposes the child process's debugger on the specified port.

[2016-09-20 19:16] SupremeTechnopriest commented on #18
I originally had it working unmodified by using node to call `babel-watch` and setting the parent process's debugger, but there is a bug in nodejs where the child process tries to use the same port as the parent process.

`node --debug=5858 ./node_modules/babel-watch/babel-watch.js app.js`

This is a no-op.  My first solution was to use `child-process-debug` from npm.  Adding that solved the port

[2016-09-21 09:11] mrsimonemms opened #24 "System files get generated"
I'm using babel-watch (v2.0.2) with NodeJS (v6.5) and Docker compose (1.8.0) on a Mac and it works great - thanks.

The only issue I'm getting is that every time I run a command with babel-watch is that it generates a series of systems files in the root of my project.  These files appear to be sequential with the number increasing by one each day.  I've done quite a bit of investigation as I belie

[2016-09-22 20:51] kmagiera commented on #24
@riggerthegeek thanks for reporting. It is very strange that the files end up being saved in your project root. We use `os.tmpdir()` method for that, is the project root what the node process running in your docker container returns. One file is created per restart and we also delete the previous file when the app restarts, so there should never be more than one unless you kill the babel-watch pro

[2016-09-23 09:49] mrsimonemms commented on #24
Thank @kmagiera.

I've checked the result of `os.tmpdir()` in `/node_modules/.bin/babel-watch` (line 160) and it's coming out as `/opt/browserspy` (that being the name of my home directory in my Docker container).  Interestingly/annoyingly, when I run `node -e "console.log(require('os').tmpdir())"` in my container's command line, I get back `/tmp`.

I've created a fork and will see if I can identi

[2016-09-23 09:49] #24 closed, assigned to nobody

[2016-09-23 10:14] mrsimonemms commented on #24
Yeah, this is definitely not an issue for you to fix.  I'm using npm scripts to run my packages and it seems that, in docker at least, the `npm run` appears to change the `TMPDIR` environment variable to the current directory.

I'll submit a PR with an addendum to the troubleshooting section, but this looks like an [npm bug](https://github.com/npm/npm/issues/4531)

[2016-09-26 08:48] kmagiera commented on #24
@riggerthegeek thanks a lot for your investigation!

[2016-09-29 00:09] larron opened #26 "Does not honor .babelrc"
`babel-watch` does not seem to honor my `.babelrc`

Currently:

[code]

Running my code with `babel-watch` and this error is thrown: `regeneratorRuntime is not defined`
While `babel-node` I am good to go

[2016-10-01 09:27] jadsonlourenco commented on #26
Try: `npm i babel-polyfill --save-dev`, then add `import 'babel-polyfill'` to your main.js file.

[2016-10-05 22:41] artf commented on #14
It works now, thanks @kmagiera

[2016-10-06 13:57] kmagiera commented on #26
@larron Thanks for reporting and @jadsonlourenco thanks for the workaround. I've tested this and looks like `babel-watch` takes `.babelrc` into account just fine. It looks like there are some issues though with runtime environments that some of the plugins require.

@larron While you can continue using the workaround, would you be able to extract a simple `main.js` file that allows you to reproduc

[2016-10-07 00:10] larron commented on #26
@jadsonlourenco fix does work! Thanks for that.

@kmagiera I was able to replicate the issue with a `main.js` file containing

[code]

Using that same `.babelrc` above

[2016-10-07 08:15] kmagiera commented on #26
@larron Thanks to your example code I managed to get that issue reproed.

It appears that `babel-node` automatically imports `babel-polyfill` for every process it runs. In my opinion this may lead to confusion as whenever you run your code with `babel-node` it will work fine, but when you want to run it in production it is recommended to build it first and then run with regular node. In which case

[2016-10-07 08:15] #26 closed, assigned to nobody

[2016-10-07 11:37] jadsonlourenco commented on #26
@kmagiera I like the `babel-plugin-transform-runtime` way, TY!

[2016-10-14 09:47] ChrisCinelli opened #27 "Breaking hotreloading"
Thank you very much for the great job with `babel-watch`.
Our restart time went way down since we started using it.

The problem that we still have is that the autowatch breaks the `react-hot-loader` in our universal configuration.

[code]

If we run the process with just `cross-env babel-watch -r dotenv/config index.js dotenv_config_silent=true`, when a component is changed, the server restart. T

[2016-10-18 02:58] steelbrain opened #28 "babel-watch creates temporary files that it doesn't clean"
<img src="https://cloud.githubusercontent.com/assets/4278113/19462820/f1603b52-950c-11e6-8118-9948991a4647.png">

Each invocation of babel-watch creates a new temp file and it's never cleaned up. It would be nice if babel-watch would listen for `SIGTERM` even and syncly garbage collect all those files

[2016-11-08 18:19] kmagiera commented on #28
@steelbrain thanks for reporting! Could it be a duplicate of https://github.com/kmagiera/babel-watch/issues/24 ? What is you OS setup?

[2016-11-08 18:22] steelbrain commented on #28
I'm on macOS Sierra and here's my tmpdir

<img width="376" alt="screen shot 2016-11-08 at 10 20 56 am" src="https://cloud.githubusercontent.com/assets/4278113/20111450/2c44224c-a59d-11e6-9fa9-fe443e4d3373.png">

While it does look like a similar issue to that, I am still not sure how to fix it

[2016-11-08 18:27] kmagiera commented on #27
Hey @ChrisCinelli ! Sorry for getting back to you so late. In general I don't have any good idea on how babel-watch could support such a complex use-case. If you have any suggestion on how precisely this could work I'd be keen to listen.

I'm not entirely sure if I understand how your setup works, so I'm assuming you have webpack that bundles JS and then also serverside rendering that uses the sam

[2016-11-08 18:33] kmagiera commented on #28
Ah, I see now. You're correct that we can perhaps delete these files (one file gets created per application restart), but since the file size is 0, and also whenever babel-watch process is killed system will cleanup that directory automatically I wasn't considering it as a problem. Thoughts?

[2016-11-08 18:36] steelbrain commented on #28
The files are zero byte correct, but the system does NOT clean up those files as they are stored in the root dir of the app being run and NOT in the cache dir.

If there's any more debug info I can provide, please let me know

[2016-11-08 18:40] kmagiera commented on #28
@steelbrain Can you see this comment and confirm that you're seeing this issue only when running `babel-watch` with `npm run` https://github.com/kmagiera/babel-watch/issues/24#issuecomment-249154511

[2016-11-08 18:44] steelbrain commented on #28
You are right. I see the npm was not fixed either. Thanks for helping me debug this, appreciated 👍

[2016-11-08 18:44] #28 closed, assigned to nobody

[2016-11-08 18:46] steelbrain commented on #28
As a side note, could you look into using [`find-cache-dir`](https://www.npmjs.com/package/find-cache-dir) instead of `os.tmpdir()` to it this for the userbase of this package?

[2016-11-08 18:51] kmagiera commented on #28
The thing is that we don't need a "cache" here but just a correct place to store temporary files. Cache would make those file persist across process reboots which is undersirable (sadly in your use case those files are kept in the FS anyways, but it's not like that for everyone)

[2016-11-08 18:54] steelbrain commented on #28
Fair enough, I'll try to work it around in my app

[2016-11-09 03:16] ChrisCinelli commented on #27
It is a little more tricky when you have isomorphic code. I.e. component code that is used both on the server and frontend. Splitting server and client process does not help.

Going back on what I was asking, I think the tricky part is to find a good way for the process to communicate to babel-watch. Maybe something like: http://stackoverflow.com/a/36995148/407245

So if you start `babel-watch` wi

[2016-11-09 08:13] kmagiera commented on #27
@ChrisCinelli what do you mean by "more tricky"? I use the setup with two processes I described with isomorphic code (one process runs webpack, the other runs server code with server side rendering of react app)

Are you sure restarting the prcess whenever page reload is requested would solve your problem? If the server process dies when you're reloading your page the browser would get no response

[2016-11-09 21:38] ChrisCinelli commented on #27
I will try to be more clear. In an isomorphic app you have the code of components (that I keep in a "client" folder) that is shared and runs on both the server and the browser. Ideally you are able to modify HTML and CSS of the component  and the react hot-reloader will be able to push the new version to the browser without restarting the server. The hot-reloader, though, does not push the code to

[2016-11-22 01:59] nickhudkins commented on #6
@kmagiera fresh install of babel-watch, having the same issue where babelrc seems to be ignored. with or without --watch specified. OSX.

[2016-11-22 02:22] nickhudkins commented on #6
Ah nevermind, I suspect this is an issue with running babel@6.18.2, I'll dig in some more

[2016-11-30 22:43] steelbrain opened #32 "Syntax error in a file crashes babel-watch"
Not only it crashes but also triggers a bug in Node.js making it gets stuck at 100% cpu usage.

I get infinite of this in dtrace of the process with 100% cpu usage
[code]

I also get this in my log

[code]

I'm on macOS Sierra, with Node v6.9.1 and babel-watch v2.0.3

[2016-12-04 12:11] azarus opened #33 "New files are not watched"
I noticed that when i am adding a new file to the source, it doesn't really detect them. Any idea how to make it work?

[2016-12-05 14:46] kmagiera commented on #33
Hey @azarus! Thanks for reporting! Would you be able to provide some more detailed description of the issue? Are you using autowatch? I understand that the newly added file is also linked with an existing/watched with require/import

[2016-12-05 15:31] azarus commented on #33
Hey,
Sorry for the missing information.

I am using babel global import transform to import files globaly from a directory, but also updating a code and requiring external modules one by one. The watch fails to detect any newly added files, in any case as i experienced.

Launching babel-watch with existing files of app.js and a.js works.
**app.js**
`require("./a.js");`

**a.js**
`console.log("Hell

[2016-12-05 16:17] SupremeTechnopriest commented on #18
@kmagiera I think its safe to close this issue.  Together we have covered all the debug scenarios. 😄

[2016-12-05 18:48] kmagiera commented on #18
Great – closing this. Will be pushing an update to npm in few mins

[2016-12-05 18:48] #18 closed, assigned to nobody

[2016-12-06 20:26] hareeqi opened #34 "run babel/node with a flag"
Thank you this is exactly what we need but we are having a problem trying to run babel/node with a flag. Can you point us on how to achieve that with babel-watch. Thanks

with node: i can do this
[code]

with babel node:
[code]

with nodemon:
[code]

[2016-12-08 16:21] azarus opened #35 "Readline simply doesnt work with babel-watch"
Since the watched app runs in a seperate process readline doesn't work, also no stdin is available for the process.

Would it be possible to forward the stdin to the sub process?

Thanks.

[2016-12-08 16:28] azarus commented on #35
Given the following example
[code]

 the output result would be:

[code]

But the result is:

[code]

Note that the readline funciton doesn't call the callback. So the _Thank you for your valuable feedback: test_ is not printed on the screeen..

[2016-12-08 17:21] azarus commented on #35
I did some research i think this is related to this issue:
https://github.com/nodejs/node-v0.x-archive/issues/1742

[2016-12-08 18:45] azarus commented on #35
Looks like this code part causes the issue, since its switching the stdin input to the fork and then back to the main process.
`const stdin = process.stdin;
stdin.setEncoding('utf8');
stdin.on('data', (data) => {
  if (String(data).trim() === RESTART_COMMAND) {
    restartApp();
  }
});`

Also applications should not use babel-watch in production, so this should be removed from the code or the all

[2016-12-13 09:35] ghost opened #36 "babel-node Restart doesn't kill the previous process - Error: listen EADDRINUSE"
Thank you for babel-watch. I am using it with babel-node, but it seems like every time I save, it cannot start the server again.

I just use the simplest command possible "babel-watch src".

[2016-12-22 22:58] alxlu commented on #3
`babel-polyfill` isn't the only package that uses the require flag. For instance, I'm trying to use `dotenv`: https://www.npmjs.com/package/dotenv

`dotenv` goes into my devDependencies, and doesn't need to run on the server at all since the environment variables would already be set. It would make more sense here to be able to run `babel-watch -r dotenv/config src/index.js` over including it in t

[2016-12-23 18:40] pfhayes opened #37 "Sometimes process can fail to restart"
I've noticed that when many restarts are triggered in quick succession (for example, by running a `git pull`), then an error can come up and the watch process will stop monitoring.

[code]

Normally there is no problem with importing `./express/app` - it appears to just be a transient error while the filesystem is changing. However, after this error comes up I need to kill babel-watch and restart

[2016-12-23 20:15] pfhayes commented on #37
I've made two draft PRs that address this issue. This fixes the issue for me but may be suboptimal - happy to rethink the solution or address any concerns

https://github.com/kmagiera/babel-watch/pull/38
https://github.com/kmagiera/babel-watch/pull/39

[2016-12-27 08:26] kmagiera commented on #34
@hareeqi thanks for reporting! There is a PR aiming at this issue #31

[2016-12-27 08:29] kmagiera commented on #35
@azarus I think it would be the best to add a new flag that would disable stdin capturing. I know that the most frequent use case for babel watch is to use it with web-based application which does not require to read anything from STDIN, and then it's pretty handy to be able to restart the app from the command line (by typing `rs`) as it is also something that people using nodemod are familiar wit

[2016-12-27 08:48] kmagiera commented on #33
@azarus I've tried following the steups you described and it works for me fine for me. Do you perhaps run babel-watch with some specific flags? Here is what I did:

 1. Created a project with app.js and a.js with the following content:
**app.js**
[code]
**a.js**
[code]
 2. Run `babel-watch app.js`
 3. Create file `b.js` in the same location as `app.js` and `a.js` with the following content:
[code]

[2016-12-27 08:49] kmagiera commented on #36
@time-traveling-pineapple you should call `babel-watch` with the application main JS file, not with a directory name. I hope that resolves your issue. Otherwise feel free to reopen it

[2016-12-27 08:49] #36 closed, assigned to nobody

[2016-12-27 08:54] kmagiera commented on #32
Thanks @steelbrain for reporting and sorry for not getting back to you earlier.

Would you be able to provide a more specific repro scenario as I couldn't reproduce the issue only based on what you've provided. Here is what I tried:
 1. Create simple project with `app.js` file with the following content:
[code]
 2. Run `babel-watch app.js`
 3. See it runs correctly (prints `Hello`)
 4. Update `app

[2016-12-27 08:57] steelbrain commented on #32
Hi @kmagiera

I cannot provide any solid info any time soon but to tell you what fixed the issue for me, I basically wrapped all the `fs.*Sync` calls with a `try { fs.*Sync(...) } catch (_) { process.exit() }`

It not only fixed the error for me, but also fixed the scenarios where a babel-watch spawned process will be backgrounded and will take 100% cpu printing only the syscall read kernel error

[2016-12-27 09:07] kmagiera commented on #32
@steelbrain thanks anyways. I think that your issue might have been resolved by #38 merged earlier today which basically catches and ignores "EPIPE". That error could've been thrown when child process have died (perhaps due to syntax error) and make parent process hang in trying to write to the pipe. Would you be able to try the newest version and see if you're still having this problem? If so fee

[2016-12-27 09:07] #32 closed, assigned to nobody

[2017-01-01 23:50] aymericbeaumet commented on #35
I'm also developing a CLI app with a shell-like prompt, and this is currently not usable. The overhead of listening on `process.stdin` makes it too laggy for real typing.

Offering a `--no-stdin` flag sounds reasonable to me 👍

As a temporary solution I have removed [those lines](https://github.com/kmagiera/babel-watch/blob/3b9f886e262c343430dd868046943be5112227e8/babel-watch.js#L138-L145) from my

[2017-01-04 06:21] TangMonk opened #40 "babel-watch --present env index.js not work"
throw following error:

[code]

If i try to use multi presents:

[code]

[2017-01-10 18:55] hareeqi commented on #40
currently babel watch doesn't support unknown options, I believe your issue, like mine, should be fixed with this PR https://github.com/kmagiera/babel-watch/pull/31

[2017-01-11 01:45] TangMonk commented on #40
@hareeqi thanks for your reply, I just wanna to use Async/Await syntax

[2017-01-11 02:14] TangMonk commented on #40
@hareeqi I found solution in #26

[2017-01-16 12:44] lucleray opened #41 "DeprecationWarning: Calling an asynchronous function without callback is deprecated."
I've added `babel-watch` to my project.

I've created a very simple `index.js` file :
[code]

I've started `babel-watch index.js` with an `npm run` script and I get this in the console when I save some change in my `index.js` file :
[code]

Can you tell me how to hide this warning ?
I wonder if it's generated by the `babel-watch` code.

[2017-01-18 03:35] ryancole commented on #41
Yup, same warning here.

[2017-01-21 19:40] yormi commented on #41
Simply adding an function doing nothing here:
https://github.com/kmagiera/babel-watch/blob/master/babel-watch.js#L207

and here:
https://github.com/kmagiera/babel-watch/blob/master/babel-watch.js#L211

to show that we haven't forget to "handle" the asynchronicity does the job.

[2017-01-21 20:05] yormi opened #42 "Restarts twice"
Hi there !

First of all, I love what you did :)

Now, I don't know why but when I change a file, babel-watch restarts my app twice. This is pretty fast so it wouldn't be much of a problem if it wasn't for the app not finding a module... (this issue in fact: https://github.com/kmagiera/babel-watch/issues/37)

I thought maybe I have something in my project that is probably messing with `babel-watch

[2017-01-21 20:17] yormi opened #43 "Problem with autowatch !?"
Ok so, the second problem I encountered which can be easily workaround but still deserves an issue I think is that the autowatch doesn't work more than once per file.

With the same setup than in this issue: https://github.com/kmagiera/babel-watch/issues/42

So when I save a file, say `index.js`, the app restarts twice in a row as mentioned in the issue above. But then, if I change the same file,

[2017-02-02 19:16] jkk commented on #6
For the record, I'm on OSX and had the same issue. I tried upgrading all of my babel deps to the latest versions, reinstalled node_modules, still got "SyntaxError: Unexpected token import". I gave up and went back to nodemon. I don't have much time to troubleshoot, but willing to try any suggestions and report back.

[2017-02-02 21:20] jameswlane opened #45 "main missing from `package.json`"
I was working with `babel-watch` for a watch utility for the build tools I was making.

I noticed I couldn't do:
[code]
To resolve the path so I can call it from shell, due to the `packages.json` is missing a `main`.

[code]

This could be very helpful if it was added into the `package.json` for developers who are consuming the module for utility use.

[2017-02-03 14:52] gajus opened #46 "CPU usage is through the roof"
Something in `babel-watch` is being very greedy.

<img width="1919" alt="screen shot 2017-02-03 at 14 53 16" src="https://cloud.githubusercontent.com/assets/973543/22595700/88162ba2-ea20-11e6-9629-9483fcc2623f.png">

Platform info:

[code]

[2017-02-07 14:27] andrew-3kb opened #47 "Crashes after restart: First argument must be file descriptor"
Node version: 6.9.5
Platform: Linux (running in docker through this image: https://hub.docker.com/_/node/)
babel-watch version: 2.0.5

I can start babel watch and it works fine, will restart on changes successfully a few times and then when it tries to restart for the 2-6ish time, it will crash with the error:

[code]

I can then restart it and it will work fine again for a bit, rinse and repeat.

[2017-02-09 00:07] rclai opened #48 "Cannot change port to different port than 8080"
[code]

[2017-02-09 00:09] rclai commented on #48
Crap never mind.

[2017-02-09 00:09] #48 closed, assigned to nobody

[2017-02-24 00:15] pfhayes commented on #37
As far as I can tell, this issue has been resolved by https://github.com/kmagiera/babel-watch/pull/44

[2017-02-26 05:38] bunchjesse commented on #6
I'm seeing the same issue.

I see no errors with this: `babel-node src/main.js`

I see `SyntaxError: Unexpected token import` errors with this: `babel-watch src/main.js`

[2017-03-01 01:44] #41 closed, assigned to nobody

[2017-03-01 09:35] fwielstra opened #50 "babel-watch stuck on >>> RESTARTING <<<"
I have a task in my package.json which does the following:

[code]

This used to work, but nowadays (in any 2.0.x version), the task stalls on `>>> RESTARTING <<<`. No significant cpu usage as far as I can tell. The only major change we did to our project recently was upgrade from Node 4.5 to Node 6.9/6.10, the latest LTS versions.

[2017-03-03 19:47] pfhayes commented on #37
I've noticed that this issue still appears for me in the latest version

[2017-03-14 16:19] levino commented on #50
I have the same here.

[2017-03-27 17:19] darobin commented on #47
This _seems_ to happen to me more when the changes have come in short succession (eg because a linked dependency has rebuilt, changing many files at once). But I can't quite promise it's only then, it might be an effect from the number of restarts that triggers.

[2017-03-27 19:48] IAmJulianAcosta commented on #6
+1 on OSX

[2017-04-01 08:32] ceruberu opened #54 "babel-watch can't find "./package.json""
In node_modules/.bin/babel-watch line 38
const pkg = require('./package.json');

My docker image can't run babel-watch because it cant find ./package.json
and there is no ./package.json file in .bin directory.

But I tried to run it in my local and I can find it when I console.log(pkg)
So when exactly is this package.json made???

[2017-04-06 22:34] gregorskii opened #55 "Plugin should honor nodemon.json in the project folder"
Hi there,

If possible, should this plugin merge any config that can be defined in a `nodemon.json` file that does not conflict with internal settings of the plugin?

Thanks!

[2017-04-09 19:21] olypros opened #56 "babel-watch unexpected token but babel-node works fine"
`NODE_ENV=production node_modules/.bin/babel-node --presets react,es2015 src/server.js`
This command dosent gives me any error (babel node) but

`NODE_ENV=production node_modules/.bin/babel-watch --presets react,es2015 src/server.js`
This command gives me error (babel-watch)

Undexpected token at

`<Route  >
...`

[2017-04-11 21:12] markotom commented on #6
It doesn't work on OSX

[2017-05-03 14:45] ghost commented on #41
Has this been released on npm? I'm still getting the warning with v2.0.6. I assume not since the latest release is from 31 jan and the commit that fixes it is from 9 feb.

[2017-05-04 04:56] chris-garrett commented on #47
I reverted to 2.0.4. Still crashes in docker but it's far less frequent.

[2017-05-06 02:09] mrpotatoes opened #57 "[Enhancement] Please add option for restart text & separators"
It would be nice to have the option to change the `>>> RESTARTING <<<` text and add some separation between the restarts.

Separators can be newlines or some string that we can choose.

[2017-05-06 19:54] sluchznak opened #58 "Option --debug-brk doesn't work"
Hello.
If specify `--debug-brk` then app stop running:
[code]
If only `--inspect` option - all fine:
[code]

In babel-node options `-I --debug-brk` works well.

Node version: `7.9.0`

[2017-05-16 11:10] mikabytes commented on #47
This happens to me as well.

[2017-05-18 18:35] stringa opened #59 "failing in docker container"
I've gone ahead and added the -L option to babel-watch.

I seem to get the following error once I change a JS file

webrtc.server.1    | >>> RESTARTING <<<
webrtc.server.1    | Debugger listening on port 9229.
webrtc.server.1    | Warning: This is an experimental feature and could change at any time.
webrtc.server.1    | To start debugging, open the following URL in Chrome:
webrtc.server.1    |

[2017-06-03 11:00] zaaack commented on #50
Hit this problem, too. I'm using node v8.0.0 on macOS, seems child process doesn't trigger exit event after send kill signal.

Just add some workaround code in killAll function:

[code]

[2017-06-03 11:16] levino commented on #50
@zaaack Thanks for sharing. Not sure whether this does not lead to forgotten and still running processes. Also why do you not create a PR for this if it is a valuable solution?

[2017-06-03 11:32] zaaack commented on #50
@Levino, it's just a temporary  workaround and could cause other issues, to really fix this issue we have more thing to do. I'm only using this in development environment, and if this workaround has other issues I'll find out.

[2017-06-27 02:33] tyronedougherty opened #60 "Using breakpoints doesn't work when debugging"
My npm script is as follows:

[code]
I get the `Debugger listening on [::]:5859` message and my debugger is able to connect on port `5859`, but putting breakpoints in my IDE (JetBrains WebStorm) appears to do nothing, making debugging effectively useless.

Using the --debug-brk option also screws up the debugging process, making it break on the underlying `runner.js` file instead of the script we

[2017-06-27 02:39] tyronedougherty commented on #58
+1, did you find a solution to debug your ES6 app?

[2017-07-05 03:13] James2516 opened #61 "stdout redirect and rewrite"
Config: `"start": "babel-watch script.js > out.txt"`.

When i run `npm start`, I want the output from script.js to rewrite to instead of appending to `out.txt` whenever the script is re-run.

I tried `"babel-watch script.js >! out.txt"` as well as `>|`, both don't work.

Perhaps I can config babel-watch such that it runs `rm out.txt` before running `script.js`?

[2017-07-08 23:38] zaaack commented on #60
https://github.com/kmagiera/babel-watch/pull/62#issuecomment-313887432

I think this PR can fix.

[2017-07-10 02:02] tyronedougherty commented on #60
@zaaack woohoo!! Can confirm this PR fixes it! Will comment in the PR too so hopefully it can get merged ASAP.

[2017-07-19 08:17] mjanssen commented on #50
@zaaack When will there be a fix pushed to the repo? The current version (2.0.7 on npmjs) still hangs on `>>> RESTARTING <<<` when an error occurs.

For now the fix above will help, but editing your modules feels kinda wrong.

[2017-08-07 06:17] coreyleelarson opened #63 "Error on process kill when babel-watch is run using npm"
**node v6.11.1**
**npm v5.3.0**
**babel-watch v2.0.7**

This doesn't appear to cause any problems, but it's quite annoying.

When I run babel-watch with ```npm run serve:watch``` and kill the process with <kbd>CTRL</kbd>+<kbd>C</kbd>, I get the following error:

**package.json**
[code]

**terminal command run**
[code]

**terminate command with**
<kbd>CTRL</kbd>+<kbd>C</kbd>

**terminal output**
[c

[2017-08-08 14:15] coreyleelarson commented on #63
The process is exiting with a failure on the SIGINT event at line 120:

**babel-watch.js**
[code]

Is there a specific reason for this or can it be changed to ```process.exit(0);```

[2017-08-08 14:57] coreyleelarson commented on #63
https://github.com/kmagiera/babel-watch/pull/64

[2017-08-08 19:41] AfflatusX opened #65 "Cannot read property 'list' of undefined when using with Babel 7"
Callstack:
`TypeError: Cannot read property 'list' of undefined
    at Object.<anonymous> (/Users/txie/Reizo/editor/node_modules/babel-watch/babel-watch.js:30:56)
    at Module._compile (module.js:570:32)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    at tryModuleLoad (module.js:446:12)
    at Function.Module._load (module.js:438:3)
    at Module.

[2017-09-05 01:45] timkinnane commented on #3
I have the exact same issue as @alxlu - is this something worth re-opening? I can't use babel-watch because of this and am forced to use an extra line in my npm scripts. The humanity!

[2017-09-08 17:28] steelbrain commented on #47
Any updates on this? Every time this happens I have to go into the Activity monitor and kill the spawned node process as it hogs 100% of a core

[2017-09-12 11:14] steelbrain commented on #47
A fix is up in #68

[2017-09-18 22:29] maryqygao commented on #59
Has there been any updates on this? Experiencing the same problem mounting into docker in the latest version (2.0.7).

[2017-09-23 12:36] nazimjamil commented on #56
Have you set your `.babelrc` presets to es2015?

[2017-09-27 10:42] qm3ster commented on #46
I got this too. Now I am just using
[code]
yon is from `yarn-or-node` package.

[2017-10-04 02:29] luishdez opened #69 "Add support for color outputs"
Currently babel-watch removes the output color from other scripts

[2017-10-11 03:51] cromwellryan commented on #37
This issue is easily reproduced in our larger project by `touch`ing two files being watched:

[code]

In a smaller example, that same touch only results in a single `<<<RESTARTING>>>` event as would be expected. During a the `touch` scenario in our larger project, 2 consistently occur at the same `require` statement. Any given `git checkout other-branch-here` we see numerous restarts.

I'd be happ

[2017-10-15 16:07] tony1223 commented on #47
This is really annoying for fixing this in code manually, could we have a new release with the fix?

[2017-10-19 17:31] esetnik opened #71 "Seeking Maintainer?"
Is this project actively being maintained? It looks like there are several open PRs that offer significant improvements to the codebase.

[2017-10-20 20:25] chris-garrett commented on #71
I came here to ask the same thing :)

[2017-10-25 20:50] coreyleelarson commented on #71
It doesn't look like it. One of those PRs is mine :)

[2017-11-18 15:21] AshCoolman opened #74 "[Question] How do I specify an output folder?"
I might be blind, but I cant see the option

[2017-11-21 15:58] #45 closed, assigned to nobody

[2017-11-23 14:14] shtse8 opened #75 "Supports for babel 7.0"
Any plans to support babel 7.0?

[2017-11-29 20:17] alexkrautmann commented on #3
Same here. I am trying to use dotEnv and want to --require the environment loader file. Right now, I am requiring `./loadEnv.js` at the top of my entry point. However, this requires me to disable eslint/import rules. Its not the end of the world, but I don't like that the first thing people will see when they look at the source code is eslint disable rules.

[2017-12-20 15:15] rubycut commented on #47
Any eta on this?

[2017-12-23 17:46] derrickbeining commented on #65
@kmagiera , any word on this? Anyone know a workaround?

[2018-01-06 19:36] daelmaak opened #76 "Missing source maps while debugging"
I am having problem with debugging file server.js run by babel-watch in VSCode. Basically when I set breakpoints, I set them in my source but I am apparently actually setting them against the transpiled code, as the execution stops on totally different places. I reckon the source maps are missing.

My debug configuration for VSCode is following
[code]

and I run my program as
`babel-watch ./src/se

[2018-01-14 15:06] daelmaak commented on #76
After some investigation, I solved this problem. I did two things to get the debugging in VSCode to work.
1) I added `"sourceMaps": "inline",` to my *.babelrc* file and
2) created simple node attach debug configuration in VSCode and added `"sourceMaps": true` to it

Works like a charm now.

[2018-01-14 15:06] #76 closed, assigned to nobody

[2018-01-15 01:54] Spotnyk commented on #74
I'm having the same issue. @AshCoolman Maybe we're blind together :)

[2018-01-22 13:19] scarlac commented on #18
None of the options above will work today. `--debug` is deprecated and attempting to use `--inspect=0.0.0.0:9222` will be ignored and instead `--inspect` will be passed, meaning you cannot configure it. For programs running in Docker, this means inspector will not be able to connect since debugger only allows container-local connections. On top of that, pressing CTRL+C will not abort the process a

[2018-01-23 20:10] henriquesosa commented on #47
Any updates?

[2018-01-23 20:39] steelbrain commented on #47
Not to hijack the thread but I ended up writing my own babel CLI (with caching) that supports running apps like `babel-watch`. You can find it at https://github.com/steelbrain/babel-cli
and run it like

[code]

[2018-02-02 01:17] evert commented on #18
We're also stuck on this. We need to be able to bind the inspector on `0.0.0.0`.

[2018-02-04 16:33] SvitlanaShepitsena opened #77 "Weird behavior and a small question?"
Guys, first of all thank you for you package as nodemon and babel-node works only with CTRL+C, CTRL+C.
With a babel-watch I have a strange behavior in Reactjs Isomorphic App -  when I just have such script:
    `./node_modules/.bin/babel-watch server/server.js`
When I change server files - first change is perfectly works. However after first restart the file is probably removed from watch. Any sub

[2018-02-05 14:14] Evanion commented on #75
me want ☹️

[2018-02-09 12:17] fatfatson commented on #6
+1  on Win10

[2018-02-20 15:04] christopher-francisco opened #79 "Add notification after restart"
Hey guys, loving this module so far. I want to contribute with notifications for when the server restarts, something like:

[code]

Let me know what you think.

[2018-02-28 16:03] gcfabri opened #81 "Next.js"
I am working on a project using Next.js with a custom Express server and this is the script that I use to reload on changes both server and client side. I had experiencied babel-watch on another projects and it is fastest that this combination but I cant achieve the same behavior using Next.js.

nodemon -w server server/server.js --exec babel-node --presets env

**How can I do the same using babel

[2018-03-13 21:22] sergivillar commented on #75
any update on this?

[2018-04-11 15:42] maxtechera commented on #18
I'm facing the same issue, Binding to `0.0.0.0` is needed for debugging node apps inside Docker containers.

[2018-05-09 15:32] SystemParadox commented on #42
I also have this issue (babel-watch 2.0.7), on Linux Mint, node 6.14.2.

It doesn't happen with the `-L` option.

[2018-05-09 15:33] SystemParadox commented on #43
I also have this issue (babel-watch 2.0.7), on Linux Mint, node 6.14.2.

Using the `-L` option appears to solve the issue. I have no idea what's up with the default file watcher system. It's a normal ext4 filesystem.

[2018-05-17 21:14] iyobo commented on #60
Progress on this?

[2018-05-22 02:10] eh-am commented on #74
Had the same question, ended up using `babel src -d dist --watch`

[2018-06-18 21:05] ChibiBlasphem opened #85 "Babel-watch not killing the app on SIGINT"
**babel-watch v2.0.7**

**Action**: Spawn babel with node, then try to kill it with SIGINT.
**Expected**: The app should be killed
**Current**: The app is not kill and the child process is running

**Context**: I was spawning a babel-watch on a app to start my server with a webpack-dev-middleware, and when I sent a signal to babel-watch to kill it, the webpack watchers continued running.
When rest

[2018-06-22 02:07] sarendipitee commented on #71
@kmagiera Are you alive? :)

Looks like a lot of people are interested in this lib and keeping it up to date. A lot of nice PRs out there, we at least need someone to hit yolo hit merge on some of these if you don't have the time @kmagiera.

Any volunteers?

Pinging some people who have active forks ahead of kmagiera/master that might be interested.

@coreyleelarson @good-idea @ChibiBlasphem @Merr

[2018-06-22 02:26] ChibiBlasphem commented on #85
Up ?

[2018-06-23 08:29] ghost commented on #71
My fork provides compatibility for Babel 7, however it's based on @good-idea 's fork which is still waiting to merge as #83

[2018-06-25 06:31] kmagiera commented on #71
I'm sorry for not doing a good job maintaining this repo. I haven't been actively using it for a while now and was hoping that updates coming to node are going to render it obsolete.

As it seems there are still plenty of people relying on this project I'm happy to hand it off to someone else. I tried that in the past but that didn't work out as I think that person has also vanished.

Thanks @JonD

[2018-06-27 09:20] kmagiera commented on #71
Hey @esetnik as it appears process of finding someone to take over the maintenance of this project would you be open to help list PRs that are of good quality and ready to merge?
I think the community will much appreciate getting an update but since I don't use this project it is hard for me to judge on usefulness and quality of the PR. What I can do though is to get things merged and put out a ne

[2018-06-27 13:56] esetnik commented on #71
@kmagiera no need to apologize. You've done a great job creating free software for us to use and enjoy. I don't have time to devote to reviewing PRs for this project at the moment. I've got a 👶coming in less than a month and I think i'll have my hands full getting ready for that. The best path forward for `babel-watch` is to find a maintainer and have them review all the outstanding PRs. Alternati

[2018-06-29 16:56] mdhornet90 commented on #18
This is also an issue for my project. Same use case, trying to debug a Dockerized app on 0.0.0.0.

[2018-07-20 00:20] hmmhmmhm commented on #35
It still same problem exist :(

[2018-09-02 17:12] ChibiBlasphem commented on #71
Hello =)
It's been two month already, do we have an idea of the new maintainer ?

Edit: At the moment I have all my npm package referencing @monathur repo. I don't think this is the good way to do it.

[2018-09-04 15:22] sibelius commented on #71
you should add all these people that commented in this issue, so the project could move on

[2018-09-05 16:36] ghost commented on #71
@kmagiera  I think I can handle being a new maintainer since I use this package in some of my projects, so I really care about babel-watch's functionality and compatibility. I may, however, need help of the community in maintaining the repository, because this would be my first such a large open source package. In my paid work I write only closed source code, and privately published projects are q

[2018-09-07 10:46] kmagiera commented on #71
Hey @monathur !

Mówie po polsku :)

I think if you are motivated to work on this project and you use it daily that's a great mix and I look forward to welcoming you as a maintainer.

I invited you as a collaborator. I think the good place to start would be by looking over PRs and trying to merge things you find important and inline with the goals you have for this project. Once you are ready to p

[2018-09-25 10:44] hpgmiskin commented on #75
Thanks to the work of @good-idea and @monathur it is possible to install a version of `babel-watch` that works with Babel 7 using this command.

[code]

[2018-09-25 12:32] loris commented on #75
I have been using @monathur fork since the release of babel 7 and it is working great!
Any update on merging the fork in @kmagiera repo?

[2018-09-25 12:35] hpgmiskin commented on #75
@loris take a look at issue #71 as this integration will likely happen when maintainer is changed

[2018-09-27 14:30] Justkant commented on #71
Hi, I can help maintaining too.

I've got a [fork](https://github.com/Justkant/babel-watch) which fixes some issues.
I also created some [issues](https://github.com/Justkant/babel-watch/issues) to refactor the codebase and improve performance.

[2018-09-29 22:16] ghost commented on #75
@loris Today, I will refactor my fork and fix some minor bugs and then I will create a PR, so there's a chance for a quick release of the new version compatible with Babel 7

[2018-09-30 11:12] #47 closed, assigned to nobody

[2018-09-30 14:55] felixk42 commented on #71
Hyped to see @monathur taking this project on, it's been really useful.

Now can we get a new release with the shiny new changes in it :P ?

[2018-09-30 17:37] ghost commented on #71
I'm working on new release, however I need to get into standard of code and discuss some things with @kmagiera to be able to provide you the best possible quality of the next version ;)

[2018-10-01 14:57] coreyleelarson commented on #71
@monathur @kmagiera - If you need another maintainer, I'd be happy to help!

[2018-10-11 13:31] roonie007 opened #88 "Update NPM package ?"
Hey,

Can you update the NPM package on npmjs.com ?

![image](https://user-images.githubusercontent.com/7860859/46807638-adbef300-cd6a-11e8-9f21-e05860b4f6cc.png)

Thanks

[2018-10-15 12:49] zenoven commented on #6
+1 on OSX

[2018-10-25 08:46] olalonde commented on #71
+1 for new maintainer... getting `warning " > babel-watch@2.0.7" has unmet peer dependency "babel-core@6.5.1 - 6.6.0 || ^6.6.x".`

[2018-10-27 03:13] JeffLuong commented on #75
@kmagiera @monathur any idea when this will be released? Since at this point we'll still need to use the the fork

[2018-11-19 14:06] sibelius commented on #88
we can automate releases using this https://github.com/webpro/release-it

[2018-11-19 14:10] sibelius opened #89 "I've got the following error when running babel-watch"
[code]

[2018-11-20 18:05] sibelius opened #90 "does babel-watch cache transpiled files?"
https://twitter.com/intelligibabble/status/1064741675891810304

it'd be cool if babel-watch could cache transpiled files so we only transpile files that changed or that was affected by modified files

[2018-11-20 18:07] sibelius opened #91 "how to run this locally?"

[2018-11-20 18:10] sibelius opened #92 "add tests"
tests would ensure this would work well

[2018-11-21 21:22] SterlingVix commented on #89
^^^ Duplicate of:
https://github.com/kmagiera/babel-watch/issues/65

But a valid issue.

[2018-11-21 21:50] SterlingVix commented on #65
I'm also having this issue, as is the duplicate issue here: https://github.com/kmagiera/babel-watch/issues/89

My log:

[code]

I believe this is because `babel-watch` expects Babel v6.x, but Babel v7 breaks `babel.utils`:

https://github.com/kmagiera/babel-watch/blob/master/babel-watch.js

https://github.com/babel/babel/pull/5487 <-- removed in babel V7.

I think this is my issue, at least -- I a

[2018-11-27 18:01] kaigouthro commented on #65
Same issue exact same error as above.

[2019-01-04 09:56] zyhou commented on #75
Any update ? @kmagiera

[2019-01-06 20:03] philihp commented on #75
@kmagiera ping?

[2019-01-07 08:05] kmagiera commented on #75
Hey! I just published a new release with all the stuff @monathur merged upstream. I think babel7 stuff is there too.

@monathur can you please ping me on twitter or email next time you want me to publish a release? I'd like to pass on the publish right to npmjs to you at some point too.

[2019-01-09 08:35] philihp commented on #75
2.0.8 does not have Babel 7 support. Still specifies a peer dependency of Babel 6, and still looks for babel.util.*

[2019-01-09 15:19] kmagiera commented on #75
thanks @philihp for the info – I was under the impression @monathur has merged all of his changes upstream already. If there are any outstanding changes that he might've missed can you please submit a PR with that and I'll cut another release shortly.

[2019-01-23 10:53] palfrey commented on #75
@kmagiera https://github.com/kmagiera/babel-watch/compare/master...monathur:master shows a bunch of changes

[2019-01-23 15:23] jacobwgillespie commented on #75
If you pull in the changes from https://github.com/monathur/babel-watch, you'll also want to pull in https://github.com/monathur/babel-watch/pull/2 since `master` is missing a lodash import.

[2019-01-28 10:27] kmagiera commented on #75
anyone here interested in sending a PR that'd include necessary changes from @monathur's fork?

[2019-02-01 00:33] pfhayes commented on #75
@kmagiera https://github.com/kmagiera/babel-watch/pull/95

[2019-02-01 03:57] jhgaylor commented on #18
This has been fixed in master. I got the code by using `"babel-watch": "kmagiera/babel-watch"` in my package.json.

[2019-02-01 10:32] kmagiera commented on #75
Thanks @pfhayes! I left one comment on your PR, please take a look when you find some time

[2019-02-01 10:41] kmagiera commented on #18
We are waiting for #95 to land, after that I'll publish a new update

[2019-02-04 08:34] kmagiera commented on #75
FYI babel-watch@7.0.0 is out with babel7 compatibility updates by @monathur and @pfhayes 🙌

[2019-02-04 08:34] #75 closed, assigned to nobody

[2019-02-15 02:48] STRML commented on #71
@kmagiera Our organization is also willing to take this on - we have a team of devs who use babel-watch regularly and would be willing to review & merge PRs. If you're interested, please check out my profile and BitMEX, and we can sort out being added to the repo & npm.

[2019-02-15 09:38] kmagiera commented on #71
Hey @STRML ! Very glad to hear you are willing to give it a try. Could you please DM me on twitter (https://twitter.com/kzzzf) where we can discuss how to approach this (if you don't use twitter we can figure out some other way to communicate)

[2019-02-27 10:31] stingrayfunk commented on #65
Any update on this?? Same is happening for me, preventing me from using babel-watch with the latest Babel 7.

My versions:

[code]

[2019-02-27 12:11] kmagiera commented on #65
cc @STRML

[2019-02-27 12:17] STRML commented on #65
This should not be an issue in the latest version, have you tried it
@stingrayfunk?

On Wed, Feb 27, 2019, 8:11 PM Krzysztof Magiera <notifications@github.com>
wrote:

[2019-03-01 00:25] stingrayfunk commented on #65
Oops, silly me with the old version! Yes, upgrading fixes the issue. Thanks @STRML 👍

[2019-03-01 00:33] STRML commented on #65
Great!

[2019-03-01 00:33] #65 closed, assigned to nobody

[2019-03-14 08:52] zzswang commented on #6
+1 on OSX

[2019-03-18 22:19] itsezc commented on #35
+1 Still exists

[2019-04-17 07:49] ekeuus opened #98 "Running experimental features?"
I would like to pass "--experimental-worker" to the internal node instance to enable worker_threads.

What are the options to do so? I tried adding the flag to allowed params, but it still fails at:

`server-node_1  | Error: Cannot find module 'worker_threads'
server-node_1  |     at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
server-node_1  |     at Function.Module._l

[2019-05-07 06:25] lorensr opened #102 "Add option to execute a command on restart"
I have a command I need to run in addition to babel-node whenever my files change.

[2019-06-11 10:20] vikramgupta1988 opened #103 "Babel-watch inspect mode not working"
My package.json file
[code]
Running `yarn run dev` doesn't starts node in inspect mode and thus chrome nodejs devtools are not working.
Running `yarn run dev2` starts nodemon in inspect mode and that works fine. However, nodemon takes a lot of time to rebuild and hampers productivity.
Anything wrong that I've done...

[2019-07-01 17:01] marcioaffonso opened #104 "Outdated chokidar version causing dependency vulnerability"
After running `npm audit`, you can see a vulnerability in `babel-watch > chokidar > anymatch > micromatch > braces`

Chokidar version should be updated.

[2019-07-01 17:03] STRML commented on #104
I'm not seeing that on a reinstall. Try clearing your lockfile & reinstall babel-watch.

[2019-07-01 17:03] stefee commented on #104
Was this resolved by https://github.com/kmagiera/babel-watch/pull/97 ? Has this been released yet?

[2019-07-01 17:08] marcioaffonso commented on #104
@STRML, @srilq the version `7.0.0`(latest) in NPM is using chokidar@1.4.3.

[2019-07-01 17:09] STRML commented on #104
Ah yes. It is fixed in #97 but @kmagiera has not yet merged. Chokidar@3 is already out and I'll give it a test, we can jump right to it which saves some CPU cycles.

[2019-07-15 20:08] maiers opened #106 "--ignore flag not working"
It looks like `babel` (v7.5.4) has no `util` object

### To reproduce:

call `babel-watch --ignore ./node_modules <file>`

### Actual outcome:

[code]

### Expected outcome:

Requested expression gets ignored by babel

[2019-08-12 21:49] dortamiguel opened #107 "How to change the >>> RESTARTING <<< message"
I find awkward to see >>> RESTARTING <<< multiple times after the server restarted on each time.

Is there any option to change it?

[2019-08-12 21:50] dortamiguel commented on #107
just found is -m

[2019-08-12 21:50] #107 closed, assigned to nobody

[2019-09-08 13:41] mehtapratik opened #108 "Lint before you reload babel script"
_This isn't a bug but a possible feature addition. Let me know if there is different forum to discuss such matter._

I want to run eslint every time babel-watch reloads my app. Instead of running linter separately or running it during build time, fixing linting error will be relatively easier during each babel-watch reload.

I don't think this is possible to achieve using babel-watch. I can achiev

[2019-09-17 11:45] marcioaffonso commented on #104
@kmagiera @STRML, could you please publish the PR https://github.com/kmagiera/babel-watch/pull/97?

People are moving away from this package as you can see in https://github.com/iamogbz/bot-slacker/pull/33/files because this is generating a vulnerability in the dependencies.

[2019-09-17 13:09] marcioaffonso commented on #60
Same issue here. Could this PR be merged?

https://github.com/kmagiera/babel-watch/pull/62#issuecomment-313887432

[2019-09-17 13:19] STRML commented on #104
I can't publish. It's on @kmagiera

On Tue, Sep 17, 2019, 4:45 AM Marcio Affonso <notifications@github.com>
wrote:

[2019-10-26 13:08] Somebi opened #109 "runner.js is eating 100% in a container with node.js"
![babel-watch](https://user-images.githubusercontent.com/474017/67619991-c7629980-f80a-11e9-87e7-591e3770719e.png)

Here is a screenshot as a proof...

using `"babel-watch": "^7.0.0",`

[2019-10-27 10:14] #109 closed, assigned to nobody

[2019-10-27 10:15] Somebi commented on #109
actually possibly fixed... after recreating containers, issue seems to begone.

[2019-11-20 15:25] jonas-db commented on #106
I have this problem! Workaround please @STRML ?

[2019-11-26 05:10] adammichaelwilliams commented on #106
This is due to a [change in Babel 7](https://github.com/babel/babel/pull/5487).

[2019-12-03 21:04] #104 closed, assigned to nobody

[2019-12-15 20:41] msaspence opened #110 "Source maps missing"
If I run `npx babel-node ./src/index.js --inspect=0.0.0.0:9223` I see a source maps in the Chrome dev tools.

If however I run `npx babel-watch .src/index.js --inspect=0.0.0.0:9223` the files are transpired and run file however there are no source map comments in the file.

I have `sourceMaps: 'both',` in my `babel.config.js` file

[2019-12-19 15:48] georgiosd commented on #18
@kmagiera did this ever get fixed and published? can't seem to be able to debug from vscode

[2019-12-31 06:35] Berkays opened #111 "Typescript Support?"
Is it also possible to watch for typescript src folder followed by normal operation? When i change a typescript file it does not compile thus no restart

[2020-02-13 14:09] clintonmedbery commented on #18
Anyone ever get this to work? @kmagiera

[2020-02-13 15:20] clintonmedbery commented on #110
Same problem here @kmagiera

[2020-02-26 11:08] IMalyugin commented on #111
I know it's a little bit too late, but yes, it is possible.

babel-watch uses babel (obviously) underneath. For typescript to work with babel, you need to add **@babel/typescript preset** to babel config.

After doing so, you're still left with some errors such as "Cannot use import statement outside a module", or any messages indicating babel does not parse the typescript files.

To fix that you

[2020-03-05 03:38] TrejGun opened #112 "error with ignored file"
i have a file which i dont want to transpile so i added it to .babelignore and now my project fails to start with error

[code]

and when i use

[code]
it throws another error
[code]

[2020-03-05 15:50] STRML commented on #112
Interesting. So the first case is expected if a file is ignored:

https://github.com/babel/babel/blob/f2af6c1170ebbea22bd29a2bae01efaec800dfe9/packages/babel-register/src/node.js#L50-L51

and we should update to handle it properly.

The second case is the same as #106 which was broken in babel 7 due to https://github.com/babel/babel/pull/5487.

@kmagiera I would like to continue maintaining this m

[2020-03-06 01:27] TrejGun commented on #112
@STRML thanks for reply
can you publich your fork? like @STRML/babel-watch ?

[2020-04-18 18:02] dsomel21 opened #113 "Error: Cannot find module '@babel/core' (Installing it didn't do anything)"
I have been trying to get `babel-watch` to work because `babel-node` doesn't reload for me... Here is my package.json:

[code]

But when I run `npm run build` I get:

[code]

When I install `@babel/core` using `npm install --save-dev @babel/core` AND`npm install --save-dev babel-core` I was getting a different error.

[code]

[2020-05-18 20:51] aaroncraigongithub commented on #85
This is still an issue, AFAICT.

A quick repro is to start `babel-watch` with a missing dependency, for instance:

[code]

The `babel-watch` process will die due to the missing dependency, however the process will not end.  After `ctrl-C` is hit, the process will be killed, but `ps xa | grep node` will reveal that the child process is still active.

After a few of these, the child processes (which

[2020-05-19 14:36] STRML commented on #85
Thanks @aaroncraigongithub.

This was fixed in https://github.com/kmagiera/babel-watch/commit/e02dcc7b57d14a32e8f8726a9f2f600ed941c2fc, many months ago, but I do not have npm access so I am unable to publish. @kmagiera, I have asked a few times, could you please add me to npm publishers for `babel-watch`?

[2020-08-18 10:08] phawxby opened #114 "Release needed"
@kmagiera it looks like there has been a whole bunch of PR's merged (17 I think) in since [the last release in 2017](https://github.com/kmagiera/babel-watch/releases/tag/v2.0.7), any chance of a update being published? Thanks.

[2020-08-18 10:22] phawxby commented on #71
@STRML @kmagiera @Justkant did anyone else takeover maintainer status? It looks like monathur did but has since deleted his account.

[2020-08-18 13:39] STRML commented on #114
I've been trying to get npm publish permissions from @kmagiera for about two years now, despite having commit permission here.

[2020-08-20 13:16] phawxby commented on #114
@STRML dang. I've just messaged him on Twitter to see if he's more likely to see it there.

[2020-08-21 06:50] Justkant commented on #71
Hey @phawxby, I unfortunately didn't takeover maintainer status.
We still use my fork (https://github.com/Justkant/babel-watch) on some legacy projects, but we're moving away from `babel-watch`

[2020-08-21 08:01] phawxby commented on #71
Thanks @Justkant. What are you replacing babel-watch with?

[2020-08-21 12:14] Justkant commented on #71
We use Typescript for the backend now and use https://github.com/gilamran/tsc-watch/ to do the same job as `babel-watch` for `tsc` (alternatives: https://github.com/whitecolor/ts-node-dev)
We are also moving away from `docker-compose` by using `skaffold` instead but this is where we need improvement, I tried Bazel with skaffold as it can better cache and parallelize builds for micro-services but i

[2020-08-21 23:26] MaxmaxmaximusAWS opened #115 "How to disable ">>> RESTARTING <<<" message?"
`--quiet` and `-q` flags like nodemon not working.

How to disable ">>> RESTARTING <<<" message?

p.s. Please add an option that would also clear the console before restarting =)
I would like to just press ctrl + s and see in the console ONLY the result of the current iteration. If I write 200 console.log's in my app (I do this often), then I want scroll to top of output, and understand where it s

[2020-08-24 10:19] phawxby commented on #71
@Justkant great, thanks for the insight!

[2020-09-02 06:32] IlyaSemenov commented on #98
You can use `NODE_OPTIONS` to pass arbitrary node.js options, for instance:

[code]

[2020-09-18 10:42] harm-meijer commented on #2
What am I doing wrong here?

Have `"babel-watch": "^7.0.0"` in devDependencies and `"dev": "babel-watch --presets es2015 ./index.js",` in scripts of package.json, have an index.js with `import express from "express";` but running `yarn dev` gives me:

[code]

[2020-10-22 07:54] jiajianrong opened #116 "why it's faster than the combination of nodemon and babel?"
In the readme `Why should I use it?`,

That means there are two node processes:
main process is in charge of babel transpilation and file watching, then passes the translated(es5) code to
the child process, which runs the code as web server.

When a source code file is changed, you have to use babel to regenerate the es5 code, and terminate the old child process and recreate a new one as the web s

[2020-11-11 17:06] Adam-Edry commented on #2
I ran into the same issue as @harm-meijer and it turned out to be caused by having a space in my path. Changing the directory let me run things as usual

[2020-12-01 03:18] jhessin opened #117 "document is not defined"
Expected behavior: Running babel-watch should give the same result as running babel directly.

Actual behavior: I get an error with babel-watch that I don't get with babel.

[code]
if I run babel directly this error doesn't occur.

The only thing I'm currently using babel for is stripping flow annotations.

[2020-12-09 12:02] paulo-digital commented on #85
Still a problem, happening all time, the year is 2020.

[2020-12-09 15:35] STRML commented on #85
Yes. I am thinking to just fork the package on npm at this point. We've had a few conversations but they never resolve.

[2021-01-05 15:05] prasanna3000 commented on #50
Tried the workaround but doesn't seem to work for me. Any other solution to fix this issue ?
This is what I see
<pre>

{ Error: kill ENOSYS
    at _errnoException (util.js:992:11)
    at ChildProcess.kill (internal/child_process.js:392:13)
    at killApp (path\node_modules\babel-watch\babel-watch.js:222:16)
    at prepareRestart (path\node_modules\babel-watch\babel-watch.js:246:5)
    at restartAp

[2021-01-05 15:56] prasanna3000 commented on #85
Yes. Still problem exists

[2021-01-05 15:59] STRML commented on #85
I have been working today with @kmagiera to get publish access, hopefully will be done soon, in which case I will publish 7.1 and update all the stale tickets.

[2021-01-05 16:13] STRML commented on #116
It's faster because that `babel-node` will restart completely and need to re-load all the babel dependencies, which takes a little while, while `babel-watch` keeps the process running.

Think of it like an all-in-one combination of `nodemon` with `babel --watch`.

[2021-01-05 16:13] #116 closed, assigned to nobody

[2021-01-05 16:14] STRML commented on #114
Release is done! [`v7.1.0`](https://github.com/kmagiera/babel-watch/releases/tag/v7.1.0)

[2021-01-05 16:14] #114 closed, assigned to nobody

[2021-01-05 16:15] STRML commented on #113
I'm guessing here because I can't reproduce it, but I think the issue has to do with the fact that you have `babel-core@6` installed. Babel doesn't play nice with multiple versions being installed.

[2021-01-05 16:15] STRML commented on #103
I believe this was fixed in 786dc0fb7018552674f0909d0a3a170a4dd51743. Can you try again with 7.1.0?

[2021-01-05 16:15] STRML commented on #88
Updated!

[2021-01-05 16:15] #88 closed, assigned to nobody

[2021-01-05 16:16] STRML commented on #85
Finally published in `7.1.0`!

[2021-01-05 16:16] #85 closed, assigned to nobody

[2021-01-05 16:16] STRML commented on #71
Finally got publish access. `7.1.0` is now published and we're back on the ball.

If anyone else would like to contribute, please reach out.

[2021-01-05 16:16] #71 closed, assigned to nobody

[2021-01-05 16:17] STRML commented on #117
Sorry, this is not something we can reproduce without much more detail. There is nothing about `babel-watch` that should require a DOM.

[2021-01-05 16:17] STRML commented on #115
I think a clear console option is a good idea. PRs welcome.

[2021-01-05 16:22] STRML commented on #112
Working on this now.

[2021-01-05 17:55] STRML commented on #106
Fixed in `7.2.0`.

[2021-01-05 17:55] #106 closed, assigned to nobody

[2021-01-05 17:55] STRML commented on #112
Fixed in `7.2.0`.

[2021-01-05 17:55] #112 closed, assigned to nobody

[2021-01-05 17:55] STRML commented on #115
Fixed in `7.2.0` (option `--clear-console`).

[2021-01-05 17:55] #115 closed, assigned to nobody

[2021-01-05 17:58] STRML commented on #90
It does, yes. See the `cache` object.

[2021-01-05 17:58] #90 closed, assigned to nobody

[2021-01-05 17:58] STRML commented on #89
This is fixed. We no longer use `babel.util`.

[2021-01-05 17:58] #89 closed, assigned to nobody

[2021-01-05 18:39] jhessin commented on #117
Gave Babel the boot. Using typescript now.

[2021-01-05 19:00] MaxmaxmaximusAWS commented on #115
thank you very much

[2021-01-05 20:02] STRML commented on #58
`--debug-brk` and `--inspect` together was required in Node 6, but after Node 6 there is `--inspect-brk`. We don't plan to support these options together as Node 6 is long gone.

I have tested and ensured that `--inspect` and `--inspect-brk`, with and without the `[address]` argument, work as expected.

[2021-01-05 20:02] #58 closed, assigned to nobody

[2021-01-05 20:27] #102 closed, assigned to nobody

[2021-01-05 20:27] STRML commented on #57
This was added in 85e4af0c63d1604c735c6e8e29ea39d7276c6ff5 and enhanced in 1e5becbf87b82d4840a0f754e6a5c9d321666142.

[2021-01-05 20:27] #57 closed, assigned to nobody

[2021-01-05 20:39] STRML commented on #37
This was released in `7.1.0`, so I'm closing this.

[2021-01-05 20:39] #37 closed, assigned to nobody

[2021-01-05 20:40] STRML commented on #42
Fixed in `7.1.0` with restart debouncing.

[2021-01-05 20:40] #42 closed, assigned to nobody

[2021-01-05 20:41] STRML commented on #27
This is a pretty complex use case that we don't intend to actually support. However, I'd be happy to accept a PR that would wait for a signal to do the reload, if you'd like.

[2021-01-05 20:41] #27 closed, assigned to nobody

[2021-01-05 20:42] STRML commented on #33
Closing as stale.

[2021-01-05 20:42] #33 closed, assigned to nobody

[2021-01-05 20:51] #35 closed, assigned to nobody

[2021-01-05 20:53] STRML commented on #54
Given that `node_modules/.bin` contains symlinks, I can't see how this happens. Please re-open if you are still experiencing this issue.

[2021-01-05 20:53] #54 closed, assigned to nobody

[2021-01-05 20:54] STRML commented on #43
This is no longer an issue to my knowledge as of `7.1.0`, due to chokidar upgrades and built-in debouncing.

[2021-01-05 20:54] #43 closed, assigned to nobody

[2021-01-05 20:54] STRML commented on #46
This was e02dcc7b57d14a32e8f8726a9f2f600ed941c2fc, fixed as of `7.1.0`.

[2021-01-05 20:54] #46 closed, assigned to nobody

[2021-01-05 20:56] STRML commented on #50
Could you try this with the latest version (`7.2.0`) @prasanna3000 ?

[2021-01-05 20:57] STRML commented on #55
These are different tools. We wouldn't want to be stuck supporting different flags.

[2021-01-05 20:57] #55 closed, assigned to nobody

[2021-01-05 20:57] STRML commented on #56
Babel options are unfortunately not supported as cli args. Use `.babelrc`, `package.json`, or `babel.config.js` instead.

[2021-01-05 20:57] #56 closed, assigned to nobody

[2021-01-05 20:58] STRML commented on #59
That's super weird. If you're still experiencing this, could you please try the latest version?

[2021-01-05 20:59] STRML commented on #61
Sorry, this isn't something we're going to support. I suggest chaining the commands:

[code]

[2021-01-05 20:59] #61 closed, assigned to nobody

[2021-01-05 20:59] STRML commented on #69
Hmm, can you still reproduce this? This definitely isn't intentional.

[2021-01-05 21:00] STRML commented on #74
I'm not sure I understand the question. Output to where? This isn't intended to drop files on disk, it compiles in memory then runs from there. I'm closing for now, but please re-open if you have a more pointed question.

[2021-01-05 21:00] #74 closed, assigned to nobody

[2021-01-05 23:11] STRML commented on #79
This can now be done via the `--before-restart` hook. For example:

[code]

[2021-01-05 23:11] #79 closed, assigned to nobody

[2021-01-05 23:13] STRML commented on #108
Now supported in 7.3.0.

[code]

[2021-01-05 23:13] #108 closed, assigned to nobody

[2021-01-05 23:13] STRML commented on #110
Fixed in `7.3.0` through #118.

[2021-01-05 23:13] #110 closed, assigned to nobody

[2021-01-05 23:13] STRML commented on #111
Closing as there is a viable solution here.

[2021-01-05 23:13] #111 closed, assigned to nobody

[2021-01-05 23:15] #98 closed, assigned to nobody

[2021-01-05 23:15] #91 closed, assigned to nobody

[2021-01-05 23:15] STRML commented on #81
I'm not really sure what you're asking here, so I'm going to close pending clarification.

[2021-01-05 23:15] #81 closed, assigned to nobody

[2021-01-05 23:15] STRML commented on #63
Looks like this is fixed by #87.

[2021-01-05 23:15] #63 closed, assigned to nobody

[2021-01-05 23:16] STRML commented on #92
Sure would, feel free to add some!

[2021-01-05 23:16] #92 closed, assigned to nobody

[2021-01-05 23:16] STRML commented on #60
#62 merged via #118 and released in `7.3.0`.

[2021-01-05 23:16] #60 closed, assigned to nobody

[2021-01-05 23:16] #59 closed, assigned to nobody

[2021-01-05 23:16] STRML commented on #59
Closing pending clarification.

[2021-01-05 23:17] STRML commented on #40
`babel-watch` can't be configured this way. Use configuration files as documented at https://babeljs.io/docs/en/configuration.

[2021-01-05 23:17] #40 closed, assigned to nobody

[2021-01-05 23:17] STRML commented on #34
Use `NODE_OPTIONS`. See d56971ce9ad7d9182911e00cb92ce6598b2a30e1

[2021-01-05 23:17] #34 closed, assigned to nobody

[2021-01-05 23:18] STRML commented on #103
Closing pending clarification.

[2021-01-05 23:18] #103 closed, assigned to nobody

[2021-01-05 23:19] STRML commented on #77
Hi. This is pretty old and file watching is different in `7.x`. I'm going to close this for now, but if you're still having this problem please holler.

[2021-01-05 23:19] #77 closed, assigned to nobody

[2021-01-06 00:39] TrejGun commented on #112
Thanks man! I'm happy this project got second life

[2021-01-06 01:49] STRML commented on #112
Pew pew

On Tue, Jan 5, 2021 at 7:39 PM Trej Gun <notifications@github.com> wrote:

[2021-01-09 13:08] prasanna3000 commented on #50
My babel-watch version is really old with 2.0.7 : )
I tried upgrading it to 7.2.0,  to get the following output

 throw new Error(`Plugin/Preset files are not allowed to export objects, only functions. In ${filepath}`);
    ^

Error: Plugin/Preset files are not allowed to export objects, only functions. In path\node_modules\babel-preset-es2015\lib\index.js
    at createDescriptor (path\node_module

[2021-01-09 13:58] STRML commented on #50
You need to upgrade your preset versions too.

On Sat, Jan 9, 2021 at 8:08 AM Prasanna Reddy <notifications@github.com>
wrote:

[2021-02-04 00:18] dobesv opened #119 "ipranges.json in NPM module"
It seems like the NPM module has this extra file, `ip-ranges.json` in it for some reason.

[2021-02-04 01:36] #119 closed, assigned to nobody

[2021-02-04 01:38] STRML commented on #119
Thanks much. Looks like a little bit of my day to day made it in the package. Allowlists over denylists, ladies and gentlemen.

[2021-02-04 01:38] STRML commented on #119
Fixed in v7.3.1 which is live now on npm. Size is only 31.6kB unpacked versus 705.9kB in 7.3.0.

[2021-02-05 00:50] puchm opened #120 "Not restarting when making changes to .graphql files"
I am trying to get this to watch for changes inside my `.graphql` files. This is the command I tried:
[code]
I also tried a few of the other options but didn't succeed with that either - including running the command with polling.
What happens is that the watcher runs and it restarts when I make changes to any of the .ts files that have been imported by the entrypoint, but it doesn't restart when

[2021-02-05 15:52] STRML commented on #120
I think we need to modify `handleChange()` to check if the watched file was in the list of directories specified by `--watch`. If so, it should ignore whether or not it's actually in use by the program. See this code:

https://github.com/kmagiera/babel-watch/blob/e49b220356c47d79999740a2d76a9c3df9f4004a/babel-watch.js#L187-L200

Also if you run `babel-watch` with `DEBUG="babel-watch:*" babel-watch

[2021-02-05 17:34] puchm commented on #120
Would you agree with me on this? I don't know what the `--watch` flag actually does right now - from the code it seems like it is just another way to specify a directory to watch for chokidar.

So I don't really know whether the `--watch` flag should be used for this but I think there should be a way to watch files that haven't been imported the usual way by specifying directories where every file

[2021-02-05 17:40] STRML commented on #120
I agree with those points.  I'm thinking that the condition on L190 should probably be removed. If we get a change notification, we should restart, full stop.

[2021-02-05 17:51] #120 closed, assigned to nobody

[2021-02-05 17:52] STRML commented on #120
@puchm Could you install from git and see if the latest commit fixes your issue?

[2021-02-05 18:33] puchm commented on #120
@STRML yes, it works! thank you.

[2021-02-05 20:05] STRML commented on #120
Published in `7.4.0`.

[2021-02-05 20:10] #117 closed, assigned to nobody

[2021-02-05 20:10] #113 closed, assigned to nobody

[2021-02-05 20:10] #69 closed, assigned to nobody

[2021-02-05 20:10] #50 closed, assigned to nobody

[2021-02-15 22:13] puchm opened #121 "Watcher is still initialized for files that are ignored"
Hi,
I noticed that `--exclude` is far superior to `--ignore` in terms of startup performance. This is the startup command I used:
[code]

It all works once it starts up but it always takes about a minute to do so. I tried switching `--ignore node_modules` to `--exclude /app/node_modules` (which is the absolute path to my `node_modules` folder) and this improved it to about 10 seconds.

I looked in

[2021-02-25 18:19] STRML commented on #121
Hey, thanks. I don't think this is intentional. I believe the intention was to have the server restart on some file changes (like assets that may be cached), but not trigger babel. It doesn't seem that this is really usable for that purpose.

I haven't had time to dig through it, maybe you have, but I would consider renaming or repurposing some of these flags.

[2021-03-05 20:39] timorthi opened #122 "Extension list formatting"
Hi,

I recently experienced a regression after upgrading from v7.0.0 to v7.4.0, where I received the following error without any config change:
[code]

My startup command was: `babel-watch --inspect --use-polling --extensions '.ts, .js' server`

After some digging, I realized that the format in which I wrote out my `--extensions` option was incorrect. The only reason why my command worked as I'd e

[2021-03-05 20:55] #122 closed, assigned to nobody

[2021-03-05 20:56] STRML commented on #122
Thanks @timorthi. This was an unintended regression. I've published 7.4.1 which both returns the default extensions *and* trims any input extensions.

[2021-04-14 05:30] callumgare commented on #3
I also believe this is worth reopening. I'm wanting to use dotenv in exactly the same way.

[2021-05-06 17:47] BenSaus opened #123 "TypeError [ERR_INVALID_ARG_TYPE]: The "fd" argument must be of type number"
Hi guys, I keep getting the following error and I'm running out of ideas. I'm hoping you have some ideas or hints for me

[code]

This same exact repo branch ect. works perfectly on another win10 computer. On the problem desktop, I have deleted the repo multiple times, cleared npm cache, verified npm cache, deleted node_modules many times, tried npm ci, reinstalled node to an identical version to

[2021-05-06 18:19] STRML commented on #123
The latest version is `7.4.1`, not `2.0.7`.

We don't actively support using babel 6 anymore, it's long, *long* dead.

[2021-05-06 20:30] BenSaus commented on #123
Well I'm just a little out of date. I didn't realize. Thanks

[2021-05-06 20:38] #123 closed, assigned to nobody

[2021-05-10 00:19] puchm commented on #121
Just noticed this issue is still open. I don't have a lot of time to dig into this other than renaming these flags.

**What is the difference between `--ignore` and `--exclude`?**

If someone can explain that to me I could try to come up with more appropriate names or put an explanation into the readme.

[2021-05-10 01:50] STRML commented on #121
So:

* `--ignore` will watch the file, but not transpile it with Babel
* `--exclude` will not watch the file at all and thus it won't be transpiled either.

I don't actually see a good use case for `--ignore` because I assume that if you actually have this need, you already have it set in your babel config. There shouldn't be a need for a unique ignore list only when using `babel-watch`, but perha

[2021-05-10 22:28] puchm commented on #121
In this case I think the names are actually quite fitting. How about adding this explanation to the readme?

[2021-05-10 23:16] STRML commented on #121
It's technically already there, but not super clear, so I'll add an additional note.

[2021-05-10 23:19] #121 closed, assigned to nobody

[2021-05-17 01:19] puchm opened #126 "Restarting but not receiving changes for some extensions"
I have noticed that some files do not get updated on restart.

## Steps to reproduce
I built a simple repo that shows the problem: https://github.com/puchm/babel-watch-error-demo
- Run `npm start`
- Make changes to the `test.graphql` file

The app will restart, but the changes will not be taken over as you can see in the log. Once you restart babel-watch, the changes are visible.

I have investiga

[2021-05-17 13:28] STRML commented on #126
Hi - the issue seems to be that the babel plugin embeds the definition of `test.graphql` into `main.js`. Dependencies from one file to another are not tracked and are not usually present in Babel. You can see that the definition changes correctly once you re-save `main.ts`.

You can run with `DEBUG="babel-watch:*" npm start` to see the full inner workings of `babel-watch`.

There is no way to avoi

[2021-05-17 13:28] #126 closed, assigned to nobody

[2021-05-17 14:16] puchm commented on #126
So essentially babel is caching it, not babel-watch? And because babel doesn't know that main.ts depends on the GraphQL file, it doesn't rebuild main.ts? Am I understanding this correctly?

babel-plugin-import-graphql has a `runtime` option, but it doesn't do anything as far as I tested it. I am going to open an issue there.

On a side note: Could you please look at the pull request I opened a few

[2021-05-17 16:31] STRML commented on #126
`babel-watch` is caching it, by file. But while it invalidates the `test.graphql` cache, the reality is that `main.js` *contains* `test.graphql`, so removing the cache does nothing.

[2021-06-01 17:12] ghost commented on #85
This problem still persists in babel-watch 7.4.1, possible regression?

[2021-06-01 19:15] STRML commented on #85
I've seen it too. I don't think it's a regression but possibly another bug. If you can replicate it consistently please open a new issue, and try sending SIGUSR1 to the process so you can attach a debugger and see what code is doing it.

[2021-06-27 12:54] arvigeus commented on #111
Just to a quick note that costed me half an hour to solve: remove `type: "module"` from `package.json`

[2021-07-14 04:58] jscul commented on #85
I'm still getting this issue repeatedly. I spent a day messing around with it and gave up. If you're getting this with `docker-compose`, I'd recommend just switched over to using `nodemon --exec babel-node src`.

[2021-10-20 14:38] BobBatard commented on #85
The issue seems to come from the **killApp** function which calls **restartOnce** which in turns calls **restartAppInternal**, which results in forking a new runner.
killApp is called on SIGINT before closing the main process, but the runner is never closed in that case.
Adding a parameter noRestart to **killApp**  `function killApp(noRestart)` and prevent the call to **restartOnce** on SIGINT sol

[2021-10-20 14:52] STRML commented on #85
Thanks for trying to chase this down. It's hard to replicate the issue happening which makes it difficult to fix. Have you managed to reliably replicate it so we can squash it for good?

[2021-10-20 15:15] BobBatard commented on #85
Just starting my app and immediately throwing an error is enough to provoke the bug every time on my machine.
I'm on osx with node 14.17.3

[2021-10-20 15:37] STRML commented on #85
@BobBatard can you see if the latest `master` fixes your issue?

[2021-10-20 16:14] BobBatard commented on #85
Yes I can confirm it's working as intended now !
Thanks for your reactivity :)

[2021-10-20 18:51] STRML commented on #85
Great. Published in `7.6.0`.

[2021-11-04 16:50] coolov opened #129 "JavaScript API?"
Hey!

Thanks for an excellent tool!

Has there been any interest in creating a module api so that the tool can be more easily integrated into other toolchains, e.g.:

[code]

Is this something that you think fits in the scope of this tool? And if you do, is it something that you need help with?

Similar APIs:
https://vitejs.dev/guide/api-javascript.html
https://webpack.js.org/configuration/dev-ser

[2021-11-04 17:17] STRML commented on #129
I think that's a great idea! That would be a good way to help testability. I could use help on it.

[2021-11-06 18:57] red-sight commented on #3
Currently you may use it in this way:
[code]

[2021-12-15 07:25] IMalyugin opened #130 "Support for root-mode option"
Hey!

I've dug into the source code of babel-watch and if we pass --root-mode down babel.OptionManager, it just works. Is there a specific reason for not doing that?

Reason: rootMode is a must have for mono-repository projects that are growing in popularity as of last couple o'years, allowing babel to parse a cascade of .babelrc.js files in every separate package.

P.S. I've been using babel-watc

[2021-12-15 13:00] #130 closed, assigned to nobody

[2022-04-16 07:11] GRA0007 opened #133 "babel-watch announcing SIGHUP"
Hi, I've set up babel-watch with the following config on my backend:
[code]

Every time I alter a file, I get the usual "restarting..." message, but also this:
[code]

Here's a screenshot of the output as well:
<img width="1042" alt="image" src="https://user-images.githubusercontent.com/8862273/163665503-1ab32ea5-7497-4c26-8c99-2c721139ae4d.png">

My backend is using `prisma` and `graphql`, so one